[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pynput = "*"
coverage = "*"
pyinputplus = {editable = true,path = "."}
pysimplevalidate = "*"

[dev-packages]

[requires]
python_version = "3.7"
